# Exclude Cadence Xcelium files
xrun.history
xrun.key
xrun.log
xcelium.d/
waves.shm/
.simvision/

# Excldue Cadence Genus files
*.tstamp
*.cmd*
*.log*
*/fv/

# Exclude temporary files while editing
*.swp
