# Exclude Cadence Xcelium files
xrun.history
xrun.key
xrun.log
xcelium.d/
waves.shm/
.simvision/

# Exclude Cadence Genus files
*.tstamp
*.cmd*
*.log*
*/fv/

# Exclude Cadence Innovus files
*.enc*
*.rs*
*.checkPlace
*.antenna*
*.conn*
*.sdf*
*.drc*
timingReports/

# Exclude temporary files while editing
*.swp
*.sdf*
